@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Primary */
    --linear-gradient1: hsl(249, 99%, 64%);
    --linear-gradient2: hsl(278, 94%, 30%);
    --linear-gradient: linear-gradient(122deg,hsl(278, 68%, 11%), hsl(278, 94%, 30%), hsl(278, 68%, 11%));
    --red: hsl(0, 100%, 66%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

body{
    background: url("images/bg-main-mobile.png") no-repeat;
    font-family: 'Space Grotesk', sans-serif;
}

.atm-card{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 2px solid red; */
}

.back{
    height: 200px;
    width: 90%;
    background: url("./images/bg-card-back.png") center/cover;
    border-radius: 10px;
    padding-right: 10px;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
}
.front{
    height: 200px;
    width: 90%;
    background: url("./images/bg-card-front.png") center/cover;
    border-radius: 10px;
    overflow: visible;
    position: absolute;
    top: 115px;
    padding: 20px;
}
.circles{
    display: flex;
    align-items: center;
}
.big-circle{
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
}
.small-circle{
    width: 20px;
    height: 20px;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-left: 10px;
}
.card-number{
    margin-top: 40px;
}
.card-number p{
    color: var(--white);
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: 2px;
    width: 100%;
}
.name-and-date{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--light-grayish-violet);
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 2px;
}

.card-details{
    margin: 11rem auto;
    width: 90%;
}
.card-details p{
    color: var(--very-dark-violet);
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 2px;
}
.card-details input{
    color: var(--very-dark-violet);
    caret-color: var(--very-dark-violet);
    outline: var(--linear-gradient1);
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid var(--dark-grayish-violet);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.card-details input:hover{
    border: 1px solid var(--linear-gradient1);
}
input::placeholder{
    color: var(--light-grayish-violet);
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif;
}
.card-number-details{
    margin-top: 20px;
}
.date-and-cvc{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date-details, .cvc-details{
    width: 48%;
}
.month-and-year{
    display: flex;
    justify-content: space-between;
}
.month-and-year input{
    width: 47%;
}
.submit-btn button{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    font-family: 'Space Grotesk', sans-serif;
    transition: .4s;
}
.submit-btn button:hover{
    background: var(--white);
    border: 2px solid var(--very-dark-violet);
    color: var(--very-dark-violet);
}